.vscode/settings.json
CMakeCache.txt
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeError.log
CMakeFiles/3.5.1/CompilerIdC/a.out
CMakeFiles/CMakeOutput.log
CMakeFiles/feature_tests.bin
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.cxx
CMakeFiles/3.5.1/CMakeCCompiler.cmake
CMakeFiles/3.5.1/CMakeCXXCompiler.cmake
CMakeFiles/3.5.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.5.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.5.1/CMakeSystem.cmake
CMakeFiles/3.5.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.5.1/CompilerIdCXX/a.out
CMakeFiles/3.5.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
